# dependencies
/node_modules

# next.js
/.next/
/.vinext/
/out/
/dist/
/.wrangler/

# production
/build

# local files
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
/.next-dev.log
/.next-dev-error.log

# environment (keep examples)
.env*
!.env.example

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts
